// Background class allows me to prepare parent element for
// full size image embeding. And further classes are custom images
.background
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &__mountain
        background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg')