// Scrollbar styles are affected everywhere when you mention .scroll
// on desired elemennt.

$scrollbar_size: 5px

.scroll
    &::-webkit-scrollbar
        width: $scrollbar_size
        height: $scrollbar_size
        &-thumb
            background-color: rgba(0, 0, 0, .1)
        &-track
            background-color: rgba(0, 0, 0, .1)