// Throne of shame

// Used to make a fixed height layout while allowing multiple columns
// to overflow with their own content. This is where .scroll gets
// implemented.
.vh-100
    height: 100vh

// Used for vertical scrolling
.scroll-y
    overflow-y: scroll

// Color for icons
.text-grey
    color: #ddd
