// Sidebar styling

$sidebar_color: rgba(0, 0, 0, 0.1)

.sidebar
    transition: min-width 0.25s ease

    &__link
        transition: all 0.25s ease

        &:hover
            box-shadow: 0 0 15px $sidebar_color
            background-color: $sidebar_color
